.bg--gold {
    background-color: $gold;
}

.bg--white {
    background-color: $white;
}

.bg--black {
    background-color: $black;
}

.color--gold {
    color: $gold;
}

.color--white {
    color: $white;
}

.color--black {
    color: $black;
}

.color--gray {
    color: $gray;
}

.hrgray {
    border: 0;
    border-bottom: 1px solid $gray;
}