.section--header-featured {
    margin-bottom: 15em;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: ' ';
        display: block;
        width: 100%;
        z-index: 100;
        opacity: .54;
        height: 100%;
        background-color: #CFBC99;
        mix-blend-mode: multiply;
        -webkit-mix-blend-mode: multiply;
        -moz-mix-blend-mode: multiply;
    }

    height: 380px;

    @include media($screen-sm) {
        height: calc(80vh - 100px);
    }

@include media($screen-xs){}
@include media($screen-sm){}
@include media($screen-md){}
@include media($screen-lg){
    height: calc(100vh - 100px);
}
    position: relative;

    .block--title {
        text-shadow: 0 0 30px transparentize($black, 0.65);
        z-index: 105;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);

        .h1 {
            font-size: 3.3rem;
            letter-spacing: 3px;
        }

        .h2 {
            font-weight: 700;
            letter-spacing: 5px;
            font-size: 2rem;
        }

@include media($screen-xs){}
@include media($screen-sm){

       .h1 {
                font-size: 5.5rem;
                letter-spacing: 15px;
            }

            .h2 {
                letter-spacing: 7px;
                font-size: 3rem;
            }
}
        @include media($screen-md) {
            .h1 {
                font-size: 7rem;
                letter-spacing: 15px;
            }

            .h2 {
                letter-spacing: 7px;
                font-size: 3rem;
            }
        }


        @include media($max-lg) {
            width: 80%;
        }
    }

    .section--header-slider {
        z-index: 99;
        height: 100%;

        .flickity-viewport {
            overflow: visible;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: ' ';
                display: block;
                width: 100%;
                z-index: 101;
                height: calc(100% + 185px);
                background: url(../images/lines.svg);
                background-position: center;

                @include media($max-sm) {
                    height: calc(100% + 145px);
                }


                background-size: 650%;

                @include media($screen-xs) {
                    background-size: 500%;
                }


                @include media($screen-lg) {
                    background-size: 220vw;
                }


                @include media($screen-lg) {}

                @include media($screen-xl) {}
            }
        }

        .event {
            height: 100%;
            width: 100%;
            z-index: 1;
            background-size: cover;
            position: relative;
        }
    }

    .section--header-slider-nav {
        z-index: 110;
        position: relative;
        top: -3em;

        .flickity-viewport {
            width: 100%;

            @extend .spacing--gutter;

            position: relative !important;
            overflow: visible !important;
            height: auto !important;

            .flickity-slider {
                display: flex !important;
                justify-content: space-between;
                position: relative !important;
                overflow: visible !important;
                height: auto !important;
                align-items: flex-end;

                .event--slide-nav {
                    position: relative !important;
                    left: auto !important;
                    border-top: 10px solid white;

                    @include media($screen-sm) {
                        border-top: 0px solid $gold;
                        transition: border 0.2s $base-animation;
                        min-height: 150px;
                    }


                    &.is-nav-selected {
                        @include media($screen-sm) {
                            transition: border 0.2s $base-animation;
                            border-top: 10px solid $gold;
                        }
                    }

                    @include media($max-sm) {
                        min-height: 130px;
                        min-width: 80%;
                        margin-right: 1em;
                    }
                }
            }
        }
    }

    .block--events-link {
        z-index: 99;
        position: relative;
    }
}