.icon-social--twitter { background-image: url('app/icons/social--twitter.png'); background-repeat: no-repeat; }

.icon-weare-nobg { background-image: url('app/icons/weare-nobg.png'); background-repeat: no-repeat; }

.icon-weare { background-image: url('app/icons/weare.png'); background-repeat: no-repeat; }

.icon-wheat { background-image: url('app/icons/wheat.png'); background-repeat: no-repeat; }

