<section class="featured-area section--sponsors spacing--gutter spacing--dsk-vert-3 flex flex--wrap justify--between">
	{% include 'components/blocks/block--sponsors.twig' %}
	{% include 'components/blocks/block--partners.twig' %}
</section>