<section class="section--header-generic flex flex--wrap justify--between">
	
	<div class="block--header-image grid--one grid--sm-half nog" style="background-image:url('{{home.headerimage|resize(1440,1440)}}')"></div>
	<div class="block--icon grid--one grid--sm-half nog">
		<img src="{{assets}}/images/weare.svg">
	</div>
</section>